# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Other Python-related files
*.pyo
*.pyd
*.whl
